rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /contactEvents/{document} {
    	allow read: if request.auth.uid != null;
      allow create: if exists(/databases/$(database)/documents/dataAuthorizations/$(request.auth.uid))
    }

    match /hcps/{document} {
      allow read, write: if false; // Deny all
    }

    match /dataAuthorizations/{document} {
      allow read, write: if false; // Deny all
    }

    match /deviceRegistrationTokens/{document} {
      allow create: if request.auth.uid == document;
    }

  }
}